@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p class="w3-opacity"><i>We love helping</i></p>
<p class="w3-justify">
    Every day, an average of six New Zealanders turn to Blind Low Vision NZ for support with sight loss. Some are still reeling and are looking for emotional support; many want to find ways to remain self-reliant, to stay in work and get around independently. All want to find ways of doing the things that are important to them. Blind Low Vision NZ is here to provide practical and emotional support, to advocate for inclusive communities and lead the way in vision rehabilitation.

    All across New Zealand, from Cape Reinga to Bluff, we meet with people in their homes or at their local Blind Low Vision NZ office to find solutions together. Maintaining independence is important – so we support people to get around safely using a white cane, public transport or a guide dog, prepare meals, use technology, stay in employment, or connect with others. No goal is too big or too small. The services we offer are vast.

    We advocate for accessible and inclusive communities because we believe people with sight loss should be able to get around public spaces like any other member of the community, access the same information, and pursue the career of their dreams without unnecessary barriers. Age-related eye conditions in New Zealand are rising as our population ages and so we also want New Zealand to do better at taking eye health seriously.

    The good news is, now more than ever, the opportunities are here to make a real difference to people with sight loss by helping to remove barriers and educate New Zealand about how we can embrace an inclusive society, where everyone gets a fair go. <br />

</p>
