@{
    ViewData["Title"] = "Contact";
}

<link href="@Url.Content("~/css/contactpage.css")" rel="stylesheet" type="text/css" />

<div class="text-center">
    <h1 class="display-4">Contact</h1>
</div>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
    <img src="~/img/Images/Walking-with-a-white-cane.jpg" alt="Walking with cane" />
    <div class="column">
        <div class="card">
            <div class="container">
                <h2><b>Get in touch</b></h2>
                <p>Need help? Have a question or feedback? We’d love to hear from you.</p>
                <a class="button" href="https://blindlowvision.org.nz/contact/contact-the-blind-low-vision-nz/">Contact us</a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="container">
                <h2><b>Our locations</b></h2>
                <p>Find addresses and opening hours for Blind Low Vision NZ offices across New Zealand.</p>
                <a class="button" href="https://blindlowvision.org.nz/contact/locations/">Find your local office</a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="container">
                <h2><b>Request services</b></h2>
                <p>If you or someone you know would benefit from our services you can request them here.</p>
                <a class="button" href="https://blindlowvision.org.nz/contact/access-services/">Request services now</a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="container">
                <h2><b>Make a referral</b></h2>
                <p>If you’re a healthcare professional, you can refer patients to us. Find out more here.</p>
                <a class="button" href="https://blindlowvision.org.nz/contact/make-a-referral/">Refer someone to us</a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="container">
                <h2><b>Update your details</b></h2>
                <p>Let us know if your address, phone number or email changes.</p>
                <a class="button" href="https://blindlowvision.org.nz/contact/update-your-details/">Update your details</a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="container">
                <h2><b>Notify us of a deceased person</b></h2>
                <p>Use this form to tell us if someone who might be on our database has died.</p>
                <a class="button" href="https://blindlowvision.org.nz/contact/notify-us-of-a-deceased-person/">Let us know about someone who has died</a>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</body>