@{
    ViewData["Title"] = "Notices";
}
<h1>@ViewData["Title"]</h1>

<br />
<div id="Skydive">
    <h2>Skydive 2020</h2>
    <img src="~/img/Images/New-Project-2020-10-13T161120.259-1024x443.jpg" alt="Skydive" />
    <h3>Are you up for the challenge?</h3>
    <h4>Raise $800 and you'll jump for free!</h4>
    <p>Shake off those lockdown blues and set yourself an incredible challenge you’ll never forget. Tick skydiving off your bucket list with Blind Low Vision NZ!</p>
    <h4>How does it work?</h4>
    <ol>
        <li><a href="~/Identity/Account/Register" style="color:#FF0000;">Register here for your online fundraising programme</a></li>
        <li>Raise at least $800 (we'll show you how to do this)</li>
        <li><b>Skydive for free</b> on 5 December!</li>
    </ol>
    <br />
    <br />
    <br />
    <p><b>When: </b>Saturday 5 December</p>
    <p><b>Where: </b>Auckland, Tauranga, Taupo, Abel Tasman, and Queenstown</p>
    <p>You’ll get your very own online fundraising page to personalise and share with friends, whanau, and colleagues. We’ll be on hand to support you every step of the way.</p>
    <p>You’ll experience the exhilarating thrill of free-fall, then the incredible sense of accomplishment as the parachute opens and you float safely back to earth knowing that you’ve made a difference for New Zealanders who are blind, deafblind, or have low vision.</p>
    <p>Find out what it feels like to jump out a plane door from 9,000ft. We reckon you’ll be hooked! <b>We can’t wait to see you take to the skies!</b></p>
    <a href="~/Identity/Account/Register" class="button">Register today</a>
    <style>
        .button {
            background-color: #f26e36;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</div>
<br />
<br />
<div id="Welcome">
    <h2>Welcome to Blind Low Vision NZ</h2>
    <img src="~/img/Images/volunteer-photo-1024x443.jpg" alt="Volunteers" />
    <h3>Who we help</h3>
    <p>We support people with no or limited useful sight that makes doing day-to-day tasks a challenge, even with the best corrective lenses. Approximately three quarters of the people we work with have some vision (which we call low vision), and the remainder are blind.</p>
    <p>Many people we support have one or more of the four most common eye diseases causing blindness and partial sight in New Zealand: Age-related macular degeneration (AMD), diabetic retinopathy, glaucoma and cataracts. In fact, one third of the people Blind Low Vision NZ helps has macular disease. However, no two people’s sight is the same so we work closely with you to find the best solution depending on what your needs are.</p>
    <h3>How we can help</h3>
    <p>We are New Zealand’s leading provider of vision rehabilitation, providing practical and emotional support for people with vision loss.</p>
    <p>Our vision rehabilitation services are personalised to meet your individual needs and goals, however big or small.</p>
    <p>To become a client, you need to register for our services. Once you’re set up, you’ll be able to access a wide range of support.</p>
    <h3>What our clients say</h3>
    <p>“I don’t think a lot of people are aware of the opportunities and the services they have available. You’ve got no idea of the amount that is done for you and services available. I just can’t thank them enough. They’ve been absolutely incredible.” – June Hieatt</p>
    <a href="~/Identity/Account/Register" class="button2">Register for services</a>
    <style>
        .button2 {
            background-color: #ffcb05;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</div>
<br />
<br />
<div id="Vision">
    <h2>
        Our Vision, Your Future – Nā matou te moemoea, nā koutou te tau tītoki.
        Strategic Plan 2020-2024
    </h2>
    <img src="~/img/Images/New-Project-10-1024x443.jpg" alt="The Vision" />
    <p>As we celebrate 130 years on 9 July 2020, we are embarking on a new era in our organisation.</p>
    <p>With much optimism, it’s our pleasure to share our new strategic direction with you. Please open it in a format which suits you.</p>
    <br />
    <a href="https://bf-website-uploads-production.s3.amazonaws.com/uploads/2020/06/Our-Vision-Your-Future.pdf" style="color:#FF0000;">Our Vision, Your Future (PDF)</a>
    <p>Our Vision, Your Future is also available in braille on request, audio and on TIS.</p>
    <p>In creating Our Vision, Your Future, we took into account over 500 formal submissions from our consultation process and assessed 9000 pieces of information and feedback from a variety of stakeholders including you the people we serve, volunteers, staff, donors and a wide range of partner organisations.</p>
    <p>We are committed to delivering on our four key priorities and doing it in a manner which is authentic to our four new values.</p>
    <p>Here’s to the next chapter in our long and storied history as we empower New Zealanders who are blind, deafblind or have low vision to live the life they choose.</p>
</div>
<br />
<a href="Notices" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
<br />
<br />
<br />
<br />
<br />
