@{
    ViewData["Title"] = "Shop";
}
<h1>@ViewData["Title"]</h1>

<img src="~/img/Images/Braille-puncher.jpg" alt="Braille Puncher" />
<br />
<br />
<br />
<p>
    <a href="https://www.trademe.co.nz/Members/Listings.aspx?member=7689276" style="color:#FF0000;">Please click here to be taken through to our Blind Low Vision NZ online shop</a>, where you can purchase select daily living goods online.
</p>

<p>
    If you require a product that is not listed, such as a cane, tip, noirs or stronger magnifiers, please contact us on 0800 24 33 33 or via <a href="mailto: equipment.orders@blindlowvision.org.nz" style="color:#FF0000;">equipment.orders@blindlowvision.org.nz</a> and we will be more than happy to support you with your request.
</p>

<p>
    If you wish to find out more information about adaptive technology, we have partnerships with both Humanware and Pacific Vision, their websites are linked below for more information. We always recommend that you have an assessment with us so that we can support you to find the best possible option
</p>
<p>
    <a href="http://www.humanware.com/en-new_zealand/home" style="color:#FF0000;">HumanWare</a>
</p>

<p>
    <a href="https://nz.1lowvision.com/" style="color:#FF0000;">Pacific Vision International NZ</a>
</p>
<p>
    Shipping for orders within New Zealand is included in all prices, and all of our goods are sent via a trackable courier system to ensure that your products reach you as quickly as possible. If you are outside of New Zealand, please contact us at equipment.orders@blindlowvision.org.nz to enquire about shipping options.
</p>
<br />
<br />
<br />
<br />
<br />